discord.py==1.2.3
aiohttp.py==3.5.4
async-timeout.py==3.0.1
attrs.py==19.1.0
cffi.py==1.12.3
chardet.py==3.0.4
colorama.py==0.4.1
colorlog.py==4.0.2
idna.py==2.8
idna-ssl.py==1.1.0
multidict.py==4.5.2
pip.py==19.2.1
pycparser.py==2.19
PyNaCl.py==1.2.1
setuptools.py==28.8.0
six.py==1.12.0
typing-extensions.py==3.7.4
websockets.py==6.0
yarl.py==1.3.0
youtube-dl.py==2019.7.30
